{
    "extends": "hapi",
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "hapi/no-arrowception": [
            0
        ],
        "handle-callback-err": [0],
        "no-undef":[0],
        "no-confusing-arrow": [0]

    }
}